/* Informative */
.bg-gradient1 {
    background: linear-gradient(90deg,#09302B 0%, #09302B 100%);
  }
  
  /* Cool */
  .bg-gradient2 {
    background: linear-gradient(90deg,#09302B 0%, #09302B 100%);
  }
  
  /* Tables */
  .bg-gradient3 {
    background: linear-gradient(90deg, #09302B  0%, #09302B 100%); 
  }