<header class="mg-topbar navbar navbar-expand-lg fixed-top">
  <div class="container-fluid mg-topbar-inner">
    <a class="navbar-brand d-flex align-items-center gap-2 mg-brand-lockup" href="home.html">
      <img class="mg-brand-logo" src="assets/img/MGnewlogo2.png" alt="MG Building Services">
      <span class="mg-brand-wordmark d-none d-sm-inline">MG Building Services</span>
    </a>
    <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#mgPublicNav" aria-controls="mgPublicNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mgPublicNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center gap-lg-1">
        <li class="nav-item"><a class="nav-link mg-nav-link" href="home.html" data-mg-nav="home">Home</a></li>
        <li class="nav-item"><a class="nav-link mg-nav-link" href="services.html" data-mg-nav="services">Services</a></li>
        <li class="nav-item"><a class="nav-link mg-nav-link" href="industries.html" data-mg-nav="industries">Industries</a></li>
        <li class="nav-item"><a class="nav-link mg-nav-link" href="about.html" data-mg-nav="about">About</a></li>
        <li class="nav-item"><a class="nav-link mg-nav-link" href="proposal-request.html" data-mg-nav="proposal">Quote / proposal</a></li>
        <li class="nav-item"><a class="nav-link mg-nav-link" href="../EmployeeDash/signin.html">Employee login</a></li>
        <li class="nav-item"><a class="nav-link mg-nav-link" href="contact.html" data-mg-nav="contact">Contact</a></li>
      </ul>
      <div class="d-flex flex-wrap gap-2 ms-lg-3 mt-2 mt-lg-0">
        <a class="btn btn-mg-outline btn-sm" href="proposal-request.html?intent=quote">Request a quote</a>
        <a class="btn btn-mg-primary btn-sm" href="proposal-request.html?intent=proposal">Request a proposal</a>
      </div>
    </div>
  </div>
</header>
