/* Informative */
.bg-gradient1 {
  background: linear-gradient(90deg,#09302b 0%, #09302b 100%);
}

/* Cool */
.bg-gradient2 {
  background: linear-gradient(90deg,#ff7e5f 0%, #feb47b 100%);
}

/* Tables */
.bg-gradient3 {
  background: linear-gradient(90deg, #09302b  0%, #09302b 100%); 
}